export(LogLikeliHood)
export(LogLikeliHood_FULL)
export(LogLikeliHood_FULL_R)
export(LogLikeliHood_RunTimeCheck)
export(LogLikeliHood_byObs)
export(LogLikeliHood_min)
export(ReturnTiny)
importFrom(Rcpp, evalCpp)
useDynLib(TVTP, .registration = TRUE)
